.dungeon {
  width: 100%;
}

.dungeon__room {
  border: 2px solid #aaaaaa;
  height: 80%;
}

.dungeon__next {
  border: 2px solid #aaaaaa;
  height: 80%;
}

.dungeon__next__visual {
  border: 2px solid #bb0000;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dungeon__next__visual_choice {
  display: flex;
  flex-direction: column-reverse;
  width: 30%;
  height: 20%;
  align-items: center;
}

.dungeon__next__visual_button {
  border: 2px solid #bb0000;
  cursor: pointer;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dungeon__next__description {
  border: 2px solid #bb0000;
  height: 20%;
}

.dungeon__character_status {
  border: 2px solid #aaaaaa;
  height: 20%;
}
