.dangeon {
  width: 100%;
}

.dangeon__room {
  border: 2px solid #aaaaaa;
  height: 80%;
}

.dangeon__next {
  border: 2px solid #aaaaaa;
  height: 80%;
}

.dangeon__next__visual {
  border: 2px solid #bb0000;
  height: 80%;
}

.dangeon__next__description {
  border: 2px solid #bb0000;
  height: 20%;
}

.dangeon__character_status {
  border: 2px solid #aaaaaa;
  height: 20%;
}
